.masthead h1.ui.header {
    margin-top: 6rem;
    font-size: 4rem;
    font-weight: normal;
}

.masthead {
    min-height: 350px;
}

.ui.menu {
    margin-top: 0;
}

.masthead a:link {
    color: white;
}

.masthead a:visited {
    color: white;
}

.masthead a:hover {
    color: white;
}

.masthead a:active {
    color: white;
}
