.ui.tab.segment.box {
    margin-top: 0;
    min-height: 150px;
}

.ui.menu {
    margin-top: 0;
}

.ui.grid.title .column {
    padding-bottom: 0;
}

.ui.labels.title .ui.label {
    float: right;
    margin: 0.5em;
}

.ui.inverted.masthead.segment {
    min-height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#portfolio {
    background-image: url(../images/personal-projects/portfolio-site.png);
}

#walks-of-life {
    background-image: url(../images/personal-projects/walks-of-life.png);
}

#finance-tracker {
    background-image: url(../images/school-projects/finance-tracker-ui.png);
}

#yelp-camp {
    background-image: url(../images/tutorial-projects/yelpcamp1.png);
}
